<div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="text-main">Add Document Type Registration </h5>
    <i class="fa fa-times" aria-hidden="true" mat-dialog-close></i>
</div>
<div>
    <form [formGroup]="docTypeRegistrationForm" (ngSubmit)="postData()">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-2">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Enter Document Type</mat-label>
                        <input matInput placeholder="Enter Document Type" (keypress)="validationPattern.noSpacesAtStart($event)" formControlName="documentTypeName">
                        <mat-error *ngIf="formFiledControl['documentTypeName'].hasError('required') || formFiledControl['documentTypeName'].hasError('touched')">
                            *Document Type is Required
                        </mat-error>
                        <mat-error *ngIf="formFiledControl['documentTypeName'].hasError('pattern') || formFiledControl['documentTypeName'].hasError('touched')">
                            *No spaces allowed
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <button mat-raised-button class="btn-outline-main" mat-dialog-close>Cancel</button>
                <button type="submit" [disabled]="docTypeRegistrationForm.invalid" mat-raised-button class="btn-main">Save</button>
            </div>
        </div>
    </form>
</div>