
<div class="d-flex justify-content-between align-items-center">
    <h5 class="text-main">Fill Employee Details</h5>
    <mat-icon>close</mat-icon>
</div>
<div class="row">
    <div class="form-container">

        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button> -->
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">

                <ng-template matStepLabel>Personal Details</ng-template>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl"
                        required>
                </mat-form-field> -->
                <div class="col-sm-12">
                    <div class="upload-image">
                        <img src="assets/images/user.jpg">
                        <button class="btn"><i class="fa-solid fa-plus"></i></button>
                        <input type="file" name="myfile" />
                    </div>
                    <div class="">
                        <div class="mb-0">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name">
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Employee Code</mat-label>
                                <input matInput placeholder="Employee Code">
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>                              
                        </div>
                        <div class="mb-0">
                             <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Contact No 1</mat-label>
                                <input matInput placeholder="Contact Number 1">
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                             <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Contact No 2</mat-label>
                                <input matInput placeholder="Contact No 2">
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Email ID</mat-label>
                                <input matInput placeholder="Enter Email id">
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Enter Address"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Enter Local Address"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Enter Permanent Address"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-radio-group aria-label="Select an option">
                                <mat-label>Gender</mat-label>
                                <mat-radio-button value="1">Option 1</mat-radio-button>
                                <mat-radio-button value="2">Option 2</mat-radio-button>
                              </mat-radio-group>
                              
                        </div>
                        <div class="mb-0">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Education</mat-label>
                                <mat-select>
                                    <mat-option>Undergradute</mat-option>
                                    <mat-option>Graduate</mat-option>
                                    <mat-option>Post Graduate</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Course</mat-label>
                                <textarea matInput placeholder="Enter Course"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Certification</mat-label>
                                <textarea matInput placeholder="Enter Certification"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Total Experience</mat-label>
                                <textarea matInput placeholder="Enter total years of experience"></textarea>
                              </mat-form-field>
                        </div>

                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>SkillSet</mat-label>
                                <textarea matInput placeholder="Describe your skillset"></textarea>
                              </mat-form-field>
                        </div>
                        <div class="mb-0">
                            <mat-form-field  appearance="legacy" class="w-100">
                                <mat-label>Domain</mat-label>
                                <textarea matInput placeholder="Enter your work domain"></textarea>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button mat-raised-button matStepperNext class="btn-main">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Work Profile Details">
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                        required>
                </mat-form-field> -->
                <div class="">
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Enter Bank Name</mat-label>
                            <input matInput placeholder="Enter Bank Name">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Branch Name</mat-label>
                            <input matInput placeholder="Enter Branch Name">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Bank Account Number</mat-label>
                            <input matInput placeholder="Enter Accnt Number">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious class="me-3 btn-outline-main">Back</button>
                    <button mat-raised-button matStepperNext class="btn-main">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Bank Details">
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                        required>
                </mat-form-field> -->
                <div class="">
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> PAN Number</mat-label>
                            <input matInput placeholder="Enter pan number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Addhaar Number</mat-label>
                            <input matInput placeholder="Enter Addhaar number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> PF Number</mat-label>
                            <input matInput placeholder="Enter PF number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> UAN Number</mat-label>
                            <input matInput placeholder="Enter UAN number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> ESIC Number</mat-label>
                            <input matInput placeholder="Enter esic number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Document Type</mat-label>
                            <mat-select>
                                <mat-option>Option 1</mat-option>
                                <mat-option>Option 2</mat-option>
                                <mat-option>Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Document Number</mat-label>
                            <input matInput placeholder="Enter document number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Username </mat-label>
                            <input matInput placeholder="Enter username number">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Password</mat-label>
                            <input matInput placeholder="Enter password">
                        </mat-form-field>
                    </div>

                </div>
                <div>
                    <button mat-stroked-button matStepperPrevious class="me-3 btn-outline-main">Back</button>
                    <button mat-raised-button matStepperNext class="btn-main">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Documents Details">
                <div class="">
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Enter Compnay </mat-label>
                            <input matInput placeholder="Enter Company">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Enter Department </mat-label>
                            <input matInput placeholder="Enter department">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> Enter Designation </mat-label>
                            <input matInput placeholder="Enter designation">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label> User Type</mat-label>
                            <input matInput placeholder="Enter user type">
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>                          
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Reference</mat-label>
                            <textarea matInput placeholder="Enter Refernce"></textarea>
                          </mat-form-field>
                    </div>
                    <div>
                        <button mat-stroked-button matStepperPrevious class="me-3 btn-outline-main">Back</button>
                        <button mat-raised-button matStepperNext class="btn-main">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious class="me-3 btn-outline-main">Back</button>
                    <button mat-raised-button (click)="stepper.reset()" class="btn-main">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>