.upload-image input[type=file] {
    position: absolute;
    right: 7px;
    bottom: 6px;
    opacity: 0;
    width: 24px;
    height: 24px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn-wrapper .btn {
    background-color: var(--main-color) !important;
    color: #fff;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }