<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-9">
                <form [formGroup]="searchForm">
                    <div class="row gx-2 align-items-center">
                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>All Company</mat-label>
                                <mat-select formControlName="comapanyId" >
                                    <mat-option value="0">All</mat-option>
                                    <mat-option [value]="Comp.companyId" *ngFor="let Comp of Companies">{{Comp.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Holiday Type</mat-label>
                                <mat-select formControlName="holidaytype" >
                                    <mat-option value="0">All</mat-option>
                                    <mat-option [value]="type.name" *ngFor="let type of holiTypes">{{type.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Year</mat-label>
                                <mat-select formControlName="year">
                                    <mat-option value="0">All</mat-option>
                                    <mat-option [value]="yr.year" *ngFor="let yr of yearsDropdn">{{yr.year}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <!-- <button mat-raised-button class="btn" (click)="onsearchData()">
                                <mat-icon>search</mat-icon>
                                Search
                            </button> -->
                            <button mat-raised-button  (click)="onsearchData()">Search</button>
                        </div>
                    </div>

            </form>
        </div>


                <div class="col-sm-3 text-end">
                    <button mat-raised-button class="btn-main" (click)="addholiday()">
                        <mat-icon>add</mat-icon>
                        Add New
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table mat-table [dataSource]="Allholidays" class="w-100 dashboard-table">
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let element; let i= index">{{(pageSize)*(pageIndex)+(i+1)}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.holidayDate | date: 'd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="holiday_name">
                    <th mat-header-cell *matHeaderCellDef> Holiday Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.holidayName}} </td>
                </ng-container>

                <ng-container matColumnDef="holiday">
                    <th mat-header-cell *matHeaderCellDef> Holiday Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.holidayType}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="updateHoliday(i)">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Edit</span>
                                    <mat-icon>edit</mat-icon>
                                </div>
                            </button>
                            <button mat-menu-item>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Delete</span>
                                    <mat-icon>delete_outline</mat-icon>
                                </div>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="Allholidays == null">
                <ng-container>
                    <h2>Data Not Found </h2>
                </ng-container>
                
            </div>
            <!-- <ng-container *ngIf="Allholidays == null" matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                  No records found.
                </mat-footer-cell>
              </ng-container> -->
            
            

            <mat-paginator *ngIf="totalCount>10 && Allholidays" [length]="totalCount" [pageIndex]="pageIndex" (page)="pageChanged($event)" [pageSize]="pageSize" aria-label="Select page"></mat-paginator>

        </div>
    </div>
</div>


<!-- Modal for add new organization -->
<div class="modal fade" id="AddNewOrganizationModal" tabindex="-1" aria-labelledby="AddNewOrganizationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title mb-0" id="AddNewOrganizationModalLabel">Add New</p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-container">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Enter Date">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Enter Holiday Name">
                            </div>
                            <div class="mb-0">
                                <label class="form-label">Optional <sup class="text-danger">*</sup> </label>
                                <div class="d-block">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-main" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-main">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
