<div class="d-flex justify-content-between align-items-center">
    <h5 class="text-main">Salary Type Registration</h5>
    <i mat-dialog-close class="fa fa-times" aria-hidden="true"></i>
</div>
<form [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12">
            <div class="mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Company Name</mat-label>
                    <mat-select formControlName="companyId">
                        <mat-option *ngFor="let drop of companyDropDownArray" [value]="drop.companyId">
                            {{drop.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="salaryForm.controls['companyId'].hasError('required')">
                        Company Name Is Required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Salary Component</mat-label>
                    <input matInput placeholder="Enter Salary Type" formControlName="salary_Component"
                        (key)="validationPattern.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="salaryForm.controls['salary_Component'].hasError('required')">
                        Salary Component Is Required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-container">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <div class="mb-3">
                            <div class="form-label">Is Percentage :</div>
                            <mat-radio-group formControlName="isPercentage">
                                <mat-radio-button *ngFor="let perc of isPercentageArray" [value]="perc.id"
                                    class="form-data">
                                    {{perc.name}}</mat-radio-button>
                            </mat-radio-group>
                            <ng-container *ngIf="salaryForm.value.isPercentage">
                                <mat-error *ngIf="salaryForm.controls['isPercentage'].hasError('required')">
                                    Please Select Field.
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="mb-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Component Value</mat-label>
                                <input type="text" matInput placeholder="Enter Salary Type" formControlName="value"
                                    (keypress)="validationPattern.onlyDigits($event)">
                                <mat-error *ngIf="salaryForm.controls['value'].hasError('required')">
                                    Value Is Required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <button mat-raised-button class="btn-outline-main" type="reset">Cancel</button>
            <button mat-raised-button class="btn-main" type="submit">{{editFlag
                ?'Update':'Submit'}}</button>
        </div>
    </div>
</form>