<div class="d-flex justify-content-between align-items-center">
    <h5 class="text-main">Add Salary Deduction</h5>
    <mat-icon [mat-dialog-close]="true">close</mat-icon>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Company</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee Name</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Deduction Type</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Month</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Year</mat-label>
                <mat-select>
                    <mat-option>2022-2023</mat-option>
                    <mat-option>2023-2024</mat-option>
                    <mat-option>2024-2025</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="1000000(Rs)">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <button mat-raised-button class="me-3 btn-outline-main" [mat-dialog-close]="true">Back</button>
    <button mat-raised-button class="btn-main">Save</button>
</div>