<div class="d-flex justify-content-between">
    <h5 class="text-main">Add New Department</h5>
    <i class="fa fa-times" mat-dialog-close="" aria-hidden="true"></i>
</div>

<div>
    <form [formGroup]="deptRegistrationForm" (ngSubmit)="postData()">
        <div class="row">
            <div>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Select Company</mat-label>
                    <mat-select formControlName="companyId">
                        <mat-option *ngFor="let companies of displayCompanyDropdown" [value]="companies.companyId">{{ companies.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-0">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Department Name</mat-label>
                    <input matInput placeholder="Department Name" formControlName="departmentName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <button mat-button class="btn-outline-main" type="reset" (click)="onCancel()">Cancel</button>
                <button mat-raised-button class="btn-main" type="submit" mat-dialog-close *ngIf="deptRegistrationForm.valid">{{editFlag?'update':'Save'}}</button>
            </div>
        </div>
      </form>
</div>
