<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Company Name</option>
                                <option value="1">Shaurya Technosoft Pvt Ltd</option>
                                <option value="2">Front Page</option>
                                <option value="3">Jagtap Autolines</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All Employee</option>
                                <option value="1">Sanket panchmind</option>
                                <option value="2">Rahul Mistari</option>
                                <option value="3">Aditya khutwad</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Year</option>
                                <option value="1">2021</option>
                                <option value="2">2022</option>
                                <option value="3">2023</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Seach for Salary Type"
                                    type="search">
                                <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="form-container">
            <div class="row">
                <div class="col-sm-7">
                    <table class="table dashboard-table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Leave Type</th>
                                <th>Allowed No of Leave</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Sick Leave
                                </td>
                                <td>
                                    <input type="number" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="modal-title mb-0">Carry Forward (PL)</h6>
                        </div>
                        <div class="card-body">
                            <table class="table dashboard-table">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Leave Type</th>
                                        <th>Allowed No of Leave</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            Sick Leave
                                        </td>
                                        <td>
                                            <input type="number" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end m-2">
        <button type="submit" class="btn btn-outline-main"> Assign</button>
    </div>
</div>