<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Select Company Name</mat-label>
                                <mat-select>
                                    <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                    <mat-option>Front Page</mat-option>
                                    <mat-option>Jagtap Autolines</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Select All Employee</mat-label>
                                <mat-select>
                                    <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                    <mat-option>Front Page</mat-option>
                                    <mat-option>Jagtap Autolines</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Select Year</mat-label>
                                <mat-select>
                                    <mat-option>2022</mat-option>
                                    <mat-option>2021</mat-option>
                                    <mat-option>2020</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Seach for Salary Type</mat-label>
                                <input matInput placeholder="Seach for Salary Type" >
                              </mat-form-field>
                        </div>
                        <div class="col-sm-auto">
                            <button mat-raised-button>Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="form-container">
            <div class="row">
                <div class="col-sm-7">
                    <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>Sr.No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="Leave_Type">
                            <th mat-header-cell *matHeaderCellDef> Leave Type</th>
                            <td mat-cell *matCellDef="let element"> Sick Leave </td>
                        </ng-container>

                        <ng-container matColumnDef="Allowed_No_of_Leave">
                            <th mat-header-cell *matHeaderCellDef> Allowed No of Leave </th>
                            <td mat-cell *matCellDef="let element">
                                <input type="number" class="form-control">
                             </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="modal-title mb-0">Carry Forward (PL)</h6>
                        </div>
                        <div class="card-body">
                            <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">

                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef>Sr.No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="Leave_Type">
                                    <th mat-header-cell *matHeaderCellDef> Leave Type</th>
                                    <td mat-cell *matCellDef="let element"> Sick Leave </td>
                                </ng-container>
        
                                <ng-container matColumnDef="Allowed_No_of_Leave">
                                    <th mat-header-cell *matHeaderCellDef> Allowed No of Leave </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input type="number" class="form-control">
                                     </td>
                                </ng-container>
            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end m-2">
        <button mat-raised-button type="submit" class="btn btn-outline-main"> Assign</button>
    </div>
</div>