<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Seach for Company" type="search">
                        <button type="submit" class="btn btn-light"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="col-sm-3 text-end">
                    <button type="submit" class="btn btn-outline-main" data-bs-toggle="modal"
                        data-bs-target="#AddNewOrganizationModal">
                        <i class="fa-solid fa-plus me-2"></i>Add New
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Company Logo</th>
                    <th>Company Name</th>
                    <th>Email ID</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="assets/images/user.jpg">
                    </td>
                    <td>Shaurya Technosoft</td>
                    <td>info@shauryayechnosoft.com</td>
                    <td>7th Floor, Cybernex, 399, Shankar Sheth Rd, Pune, Maharashtra 411037</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn bg-info bg-opacity-10 text-info" data-bs-toggle="modal"
                            data-bs-target="#AddNewOrganizationModal"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                            <button type="button" class="btn bg-danger bg-opacity-10 text-danger"><i
                                    class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal for add new organization -->
<div class="modal fade" id="AddNewOrganizationModal" tabindex="-1" aria-labelledby="AddNewOrganizationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title mb-0" id="AddNewOrganizationModalLabel">Add New Company</p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <div class="col-sm-4">
                        <div class="upload-image">
                            <img src="assets/images/user.jpg">
                            <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                            <input type="file" name="myfile" />
                        </div>
                    </div> -->
                    <div class="col-sm-12">
                        <div class="form-container">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" placeholder="Enter Mobile No">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Address" rows="2"></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="url" class="form-control" placeholder="Enter Company URL">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Enter Email ID">
                            </div>
                            <div class="mb-3">
                                <input type="file" name="myfile" />
                            </div>
                            <!-- <div class="mb-3">
                                <textarea class="form-control" placeholder="Address" rows="3"></textarea>
                            </div> -->
                            <div class="mb-0">
                                <textarea class="form-control" placeholder="About Company" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-container w-100">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-main" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-main">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>