<div class="card main-card">
    <div class="card-header pb-0">
        <div class="form-container">
            <form [formGroup]="filterForm">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <div class="">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Bank Name</mat-label>
                                <mat-select formControlName="id">
                                    <mat-option *ngFor="let name of bankNames" [value]="name.bankId">{{name.bankName}}</mat-option>
                                    <!-- <mat-option>Bank Of India</mat-option>
                                <mat-option>State Of India</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Branch Name</mat-label>
                                <input matInput formControlName="branch" placeholder="Branch Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button mat-raised-button color="primary" (click)="onSearch()">
                            <mat-icon>search</mat-icon>Search
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="table-responsive" >
                    <div *ngIf="dataSource.length; else cond">
                        <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table border">

                            <ng-container matColumnDef="sr_no">
                                <th mat-header-cell *matHeaderCellDef>Sr.No.</th>
                                <td mat-cell *matCellDef="let element; let i = index"> {{(currentPage*10)+i+1}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="Bank_Name">
                                <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.bankName}}
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="Branch_Name">
                                <th mat-header-cell *matHeaderCellDef>Branch Name</th>
                                <td mat-cell *matCellDef="let element">{{element.branchName}}</td>
                            </ng-container>
    
                            <ng-container matColumnDef="IFSC_Code">
                                <th mat-header-cell *matHeaderCellDef>IFSC Code</th>
                                <td mat-cell *matCellDef="let element">{{element.ifsC_Code}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element"><button mat-icon-button color="accent"
                                        style="outline: none">
                                        <mat-icon (click)="onEdit(element)">create</mat-icon>
                                    </button></td>
                            </ng-container>
                           
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <ng-container *ngIf="totalCount >10">
                            <mat-paginator (page)="handlePageEvent($event)" [length]="totalCount" [pageSize]="pageSize"
                                [pageIndex]="currentPage" showFirstLastButtons>
                            </mat-paginator>
                        </ng-container>
                    </div>
                    <ng-template #cond>
                        <h4 class="text-dark text-center" style="background-color: rgb(194, 188, 188);">No Data Found</h4>
                    </ng-template>
                </div>
               
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="modal-title mb-0">Add New Bank Branch Registration</h6>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="regForm" (ngSubmit)="onSubmit(validationsremove)" #validationsremove="ngForm">
                            <div class="d-flex justify-content-between gap-2">
                                <mat-form-field appearance="legacy" class="w-100 mb-0">
                                    <mat-label>Bank Name</mat-label>
                                    <mat-select formControlName="bankId" (selectionChange)="onChanges($event)">
                                        <mat-option *ngFor="let name of bankNames" [value]="name.bankId">
                                            {{name.bankName}}
                                        </mat-option>
                                        <!-- <mat-option>Bank Of India</mat-option>
                                    <mat-option>State Of India</mat-option> -->
                                    </mat-select>
                                    <mat-error *ngIf="fc['bankId'].hasError('required')"> Please Select Bank Name</mat-error>
                                </mat-form-field>
                                <ng-container *ngIf="!editFlag">
                                    <button mat-icon-button (click)="openDialog()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </ng-container>

                            </div>
                            <div class="">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Branch Name</mat-label>
                                    <input matInput placeholder="Branch Name" formControlName="branchName">
                                    <mat-error *ngIf="fc['branchName'].hasError('required')"> Please Enter Branch Name</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>IFSC Code</mat-label>
                                    <input matInput placeholder="IFSC Code" formControlName="ifsC_Code">
                                    <mat-error *ngIf="fc['ifsC_Code'].hasError('required')"> Please Enter IFSC Code</mat-error>
                                    <mat-error *ngIf="fc['ifsC_Code'].hasError('pattern')"> Please Enter Valid IFSC Code</mat-error>

                                </mat-form-field>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between">
                                    <button mat-raised-button class="btn-outline-main"
                                        (click)="onCancel()">Cancel</button>
                                    <button mat-raised-button class="btn-main" type="submit" [disabled]="!regForm.valid">{{!editFlag ? 'Submit' :'Update'}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>