<form [formGroup]="OrganizationRegForm" (ngSubmit)="onSubmit()" class="mb-0">
    <div class="d-flex justify-content-between mb-2">
        <h5 class="text-main">Add Organization </h5>
        <i class="fa fa-times" aria-hidden="true" mat-dialog-close></i>
    </div>

    <div class="row mb-3">
        <div class="col-sm text-center">
            <div class="upload-image" *ngIf="!editFlag">
                <img [src]="imageURL" class="img">
                <button class="btn" (click)="selectImg()">
                    <i class="fa-solid fa-plus"></i></button>
                <input type="file" name="myfile" formControlName="orgLogo" (change)="uploadImg($event)" #img />
            </div>
            <div class="upload-image" *ngIf="editFlag">
                <img [src]="imageURL" class="img">
                <button class="btn" (click)="selectImg()">
                    <i class="fa-solid fa-plus"></i></button>
                <input type="file" name="myfile" (change)="uploadImg($event)" />
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="mb-0">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Name</mat-label>
                    <input matInput placeholder="Organization Name" formControlName="orgName" (keypress)="validationservice.alphaNumericWithSpaces($event)">
                    <mat-error *ngIf="f['orgName'].hasError('required') || f['orgName'].hasError('touched')">
                        Organization name is Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-0">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="email@gmail.com" formControlName="emailId">
                    <mat-error *ngIf="f['emailId'].hasError('required') || f['emailId'].hasError('touched')">
                        Email Address is Required
                    </mat-error>
                    <mat-error *ngIf="f['emailId'].hasError('email') || f['emailId'].hasError('touched')">
                        Please enter valid email address
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-0">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Contact Number</mat-label>
                    <input matInput placeholder="Contact Number" formControlName="contactNo" maxlength="10" (keypress)="validationservice.onlyDigits($event)">
                    <mat-error *ngIf="f['contactNo'].hasError('required') || f['contactNo'].hasError('touched')">
                        contactNo is Required
                    </mat-error>
                    <mat-error *ngIf="f['contactNo'].hasError('pattern') || f['contactNo'].hasError('touched')">
                        Please enter valid contactNo
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-0">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Enter Website</mat-label>
                    <input matInput placeholder="Enter URL" formControlName="website">
                    <mat-error *ngIf="f['website'].hasError('required') || f['website'].hasError('touched')">
                        website is Required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-0">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Organization Address</mat-label>
                <textarea matInput placeholder="Enter Address" formControlName="address"></textarea>
                <mat-error *ngIf="f['address'].hasError('required') || f['address'].hasError('touched')">
                Address is Required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>About US</mat-label>
                <textarea matInput placeholder="Enter About US" formControlName="aboutUs"></textarea>
                <mat-error *ngIf="f['aboutUs'].hasError('required') || f['aboutUs'].hasError('touched')">
                    About US is Required
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row align-items-center mb-0">
        <div class="d-flex justify-content-between">
            <button mat-raised-button class="btn-outline-main" mat-dialog-close type="reset">Cancel</button>
            <button mat-raised-button class="btn-main" type="submit" [disabled]="OrganizationRegForm.invalid"
                >{{editFlag ? 'Update':'Save'}}</button>
        </div>
    </div>
</form>