<div class="d-flex justify-content-between">
    <h5 class="text-main">Add Organization </h5>
    <i class="fa fa-times" aria-hidden="true"></i>
</div>
<div class="row g-2">
    <div class="col-sm-4 text-center">
        <img src="../../../../../assets/images/user.jpg" alt="logo" class="img">
    </div>
    <div class="col-sm-8">
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Organization Name</mat-label>
                <input matInput placeholder="Organization Name">
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number">
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Enter Address</mat-label>
                <textarea matInput placeholder="Enter Address"></textarea>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Enter URL">
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="Enter Email ID">
            </mat-form-field>
        </div>
        
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>About US</mat-label>
                <textarea matInput placeholder="Enter About US"></textarea>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <!-- <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Choose File</mat-label>
                <input matInput placeholder="Enter Email ID">
            </mat-form-field> -->
            <div class="upload-btn-wrapper">
                <button mat-raised-button class="btn-main">
                    <i class="fa-solid fa-upload me-2"></i>
                    Upload File
                </button>
                <input type="file">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-between">
        <button mat-raised-button class="btn-outline-main">Cancel</button>
        <button mat-raised-button class="btn-main">Save</button>
    </div>
</div>
