<div class="card main-card"> 
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-9">
                    <form [formGroup]="filterForm" (ngSubmit)="filterData()">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>All Company</mat-label>
                                    <mat-select formControlName="companyId" (selectionChange)="clearForm($event);departmentDropdown()">
                                        <mat-option *ngFor="let companies of companyDropdownArray" [value]="companies.companyId">{{ companies.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Department</mat-label>
                                    <mat-select formControlName="departmentId" (selectionChange)="designationDropdown()">
                                        <mat-option *ngFor="let departments of departmentDropdownArray" [value]="departments.departmentId">{{ departments.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Designation</mat-label>
                                    <mat-select formControlName="designationId">
                                        <mat-option *ngFor="let designations of designationDropdownArray" [value]="designations.id">{{ designations.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Code, Name, Company, Dept, Designation">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-auto">
                                <button type="submit" mat-raised-button>Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-3 text-end">
                    <button mat-raised-button class="btn-main" (click)="addempdetails()">
                        <mat-icon>add</mat-icon>
                        Add New
                    </button>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive" *ngIf="dataSource.length; else condition">
            <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">

                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.srNo}} </td>
                </ng-container>

                <ng-container matColumnDef="emp_code">
                    <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
                </ng-container>

                <ng-container matColumnDef="emp_name">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef> Compnay </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>
                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                </ng-container>
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.designationName}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <div class="d-flex justify-content-between align-items-center"
                                    (click)="addempdetails()">
                                    <span>Edit</span>
                                    <mat-icon>edit</mat-icon>
                                </div>
                            </button>
                            <button mat-menu-item>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Delete</span>
                                    <mat-icon>delete_outline</mat-icon>
                                </div>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <ng-container *ngIf="totalCount > 0">
                <mat-paginator [length]="totalCount" [pageSize]="10" [pageIndex]="currentPage" (page)="onClickPaginatior($event)"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
            </ng-container>
        </div>
        <ng-template #condition>
            <h4 class="text-danger text-center">No Data Found !</h4>
        </ng-template>
    </div>
</div>


<!-- OffCanvas Form -->

<div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-main" id="offcanvasRightLabel">Employee Information</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <mat-divider></mat-divider>
    <div class="offcanvas-body">
        <div class="form-container">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h4 class="text-main my-3">Personal Details</h4>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="name" class="form-label">Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="naemdata" class="form-data">Sanket panchmind:</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="course" class="form-label">Course:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="coursedata" class="form-data">--</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="mpbnumber" class="form-label">Mobile No:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="mobnumberdata" class="form-data">8669264767</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="gender" class="form-label">Gender:</label>
                        </div>
                        <div class="col-sm-8">
                            <div for="genderdata" class="form-data">Male</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="email" class="form-label">Email:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="emaildata" class="form-data">sanket.panchmind1@gmailcom</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <h4 class="my-3 text-main">Official Information</h4>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="compantname" class="form-label">Company Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="compantnamedata" class="form-data">Shaurya Technosoft Pvt Ltd:</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="dept" class="form-label">Department:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="deptnamedata" class="form-data">Management:</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="designation" class="form-label">Designation:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="designaiondata" class="form-data">COO:</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="leaveassign" class="form-label">Leave Assign:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="leaveassigndata" class="form-data">Not Assigned:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <h4 class="my-3 text-main">Payment Details</h4>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="exampleInputEmail1" class="form-label">Gross Salary:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="exampleInputEmail1" class="form-data">Rs:</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="accountnumber" class="form-label">Account No:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="acntnumberdata" class="form-data">-</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="bankname" class="form-label">Bank Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="banknamedata" class="form-data">-</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="branchname" class="form-label">Branch Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="branchnamedata" class="form-data">-</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <h4 class="my-3 text-main">Reporting Person</h4>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="Empname" class="form-label">Employee Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <label for="Empid" class="form-label">Employee Id:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="empnamedata" class="form-data">ABHAYSINH KHASHERAV JAGTAP</label>
                        </div>
                        <div class="col-sm-6">
                            <label for="empnamedata" class="form-data">12001</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>