<div class="container-fluid">
    <div class="card  main-card">
        <div class="form-container">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3 mb-3 mb-lg-0">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Company</option>
                            <option value="1">Shaurya Technosoft Pvt Ltd</option>
                            <option value="2">Company 2</option>
                            <option value="3">Company 3</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-lg-0">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="3">April</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-lg-0">
                        <div class="input-group mb-lg-0 mb-3">
                            <input type="text" class="form-control" placeholder="Seach for Organization" type="search">
                            <button type="submit" class="btn btn-light"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-container">
                <div class="d-flex justify-content-end">
                    <div class="col-sm-3 mb-3 mb-lg-3">
                        <div class="input-group mb-lg-0 mb-3">
                            <input type="text" class="form-control" placeholder="Seach for Organization" type="search">
                            <button type="submit" class="btn btn-light"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive mb-3">
                        <table class="table dashboard-table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Emp Id</th>
                                    <th>Emp Name</th>
                                    <th>Basic Pay</th>
                                    <th>HRA</th>
                                    <th>LTA</th>
                                    <th>Bonus/ExGratia</th>
                                    <th>Oth.All</th>
                                    <th>Gross Salary</th>
                                    <th>PF</th>
                                    <th>ESIC</th>
                                    <th>PT</th>
                                    <th>OT</th>
                                    <th>Net Salary</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>12214</td>
                                    <td>Ram Chavan</td>
                                    <td>44000</td>
                                    <td>22000</td>
                                    <td>5000</td>
                                    <td>1400</td>
                                    <td>110000</td>
                                    <td>1800</td>
                                    <td>0</td>
                                    <td>200</td>
                                    <td>0</td>
                                    <td>108000</td>
                                    <td>10101010</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <!-- <button type="button" class="btn bg-secondary bg-opacity-10" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-user"></i></button> -->
                                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">
                                                <i class="fa-solid fa-user"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Employee Detail Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/user.jpg" alt="img" class="emp-img rounded-circle">
                                <h5 class="text-dark mx-2">Ram Chavan</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <h5 class="text-dark">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    Attendance of the Month
                                </h5>
                                <button type="button" class="btn-close text-end" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-3">
                    <table class="table dashboard-table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">In Time</th>
                                <th scope="col">Out Time</th>
                                <th scope="col">Total HRS</th>
                                <th scope="col">Late By HRS</th>
                                <th scope="col">Early By HRS</th>
                                <th scope="col">Extra HRS</th>
                                <th scope="col">Status </th>
                                <th scope="col">Upate Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2023</td>
                                <td>00:00</td>
                                <td>00:00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>Sunday working</td>
                                <td>Dropdown</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <h5 class="text-main mb-3">Summary</h5>
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">1-30 min late</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="form-label">More than 30 mins late</div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">Total late Hrs</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="form-label">Total Extra Hrs Work</div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">Calender Days</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">: 31</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="form-label">Present Days</div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-data">: 9</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">Out Punch Missing</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="form-label">Leaves in Month</div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-data">: 0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">LWP in Month</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">
                                                    <div class="form-data">: 0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-label">OD</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-data">
                                                    <div class="form-data">: 0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-lg-0 mb-3">
                                            <input type="text" class="form-control" placeholder="OT Amount">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            <textarea class="form-control" placeholder="Remark"
                                                id="floatingTextarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" text-end">
                                <button type="button" class="btn btn-main" data-bs-dismiss="modal">Verify
                                    Attendance</button>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                         
                        </div> -->
                    </div>
                </div>
            </div>