<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-9">
                    <div class="row align-items-center">
                        <div class="col-sm">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Company Name</mat-label>
                                <mat-select>
                                    <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                    <mat-option>Front Page</mat-option>
                                    <mat-option>Jagtap Autolines</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>All Employee</mat-label>
                                <mat-select>
                                    <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                    <mat-option>Front Page</mat-option>
                                    <mat-option>Jagtap Autolines</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Seach for Salary Type</mat-label>
                                <input matInput placeholder="Seach for Salary Type">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-auto">
                            <button mat-raised-button>Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-sm-7">
                <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Sr.No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Employee Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Reporting_Person_Name">
                        <th mat-header-cell *matHeaderCellDef> Reporting Person Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Reporting_Person_Name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Edit</span>
                                        <mat-icon>edit</mat-icon>
                                    </div>
                                </button>
                                <button mat-menu-item>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Delete</span>
                                        <mat-icon>delete_outline</mat-icon>
                                    </div>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="col-sm-5 border-start">
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="modal-title mb-0">Add New Assign Reporting Person</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-container">
                            <div class="mb-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Company Name</mat-label>
                                    <mat-select>
                                        <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                        <mat-option>Front Page</mat-option>
                                        <mat-option>Jagtap Autolines</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="mb-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Department</mat-label>
                                    <mat-select>
                                        <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                        <mat-option>Front Page</mat-option>
                                        <mat-option>Jagtap Autolines</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="mb-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Designation</mat-label>
                                    <mat-select>
                                        <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                        <mat-option>Front Page</mat-option>
                                        <mat-option>Jagtap Autolines</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="mb-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Employee</mat-label>
                                    <mat-select>
                                        <mat-option>Shaurya Technosoft Pvt Ltd</mat-option>
                                        <mat-option>Front Page</mat-option>
                                        <mat-option>Jagtap Autolines</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header">
                                <mat-form-field appearance="outline" class="w-75">
                                    <mat-label>Seach for Salary Type</mat-label>
                                    <input matInput placeholder="Seach for Salary Type">
                                </mat-form-field>
                            </div>
                            <div class="card-body">
                                <h6 class="modal-title mb-0">Reporting To</h6>
                                <div class="row my-3">
                                    <div class="col-sm ">
                                        <table mat-table [dataSource]="dataSource_A" class="dashboard-table w-100">

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef>Sr.No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Employee_Name">
                                                <th mat-header-cell *matHeaderCellDef> Employee Name</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Navin Boddhul
                                                        </label>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Approve_Right">
                                                <th mat-header-cell *matHeaderCellDef> Approve Right </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="flexRadioDefault">
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayeColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayeColumns;"></tr>
                                        </table>
                                        <div class="form-container w-100 mt-3">
                                            <div class="d-flex justify-content-between">
                                                <button mat-stroked-button type="button" class="btn btn-outline-main"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button mat-raised-button type="button"
                                                    class="btn btn-main">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-container w-100">
                            <div class="d-flex justify-content-between">
                                <button mat-stroked-button type="button" class="btn btn-outline-main"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button mat-raised-button type="button" class="btn btn-main">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>