<div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="text-main">Add Company Bank Account Registration </h5>
    <i class="fa fa-times" aria-hidden="true"></i>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Select Company Name</mat-label>
                <mat-select>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Select Bank Name</mat-label>
                <mat-select>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Select Branch Name</mat-label>
                <mat-select>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                    <mat-option> option-1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Account Type</mat-label>
                <mat-select>
                    <mat-option>Saving</mat-option>
                    <mat-option>Cancel</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Account No</mat-label>
                <input type="tel" matInput placeholder="Account No">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-between">
        <button mat-raised-button class="btn-outline-main">Cancel</button>
        <button mat-raised-button class="btn-main">Save</button>
    </div>
</div>
