<div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="text-main">Company Bank Account Registration </h5>
    <i class="fa fa-times" aria-hidden="true"></i>
</div>
<form [formGroup]="companyBankRegistrationForm" (ngSubmit)="onSubmit()">
    <div class="row">
   
        <div class="col-sm-12">
            <div class="mb-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Select Company Name</mat-label>
                    <mat-select formControlName="companyId">
                        <mat-option *ngFor="let company of campanyNameArray" [value]="company.id">{{company.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Select Bank Name</mat-label>
                    <mat-select formControlName="bankId">
                        <mat-option *ngFor="let bank of bankNameArray" [value]="bank.id">{{bank.name}}</mat-option>
                        
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Select Branch Name</mat-label>
                    <mat-select formControlName="branchId">
                        <mat-option *ngFor="let branch of branchNameArray" [value]="branch.id">{{branch.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Account Type</mat-label>
                    <mat-select formControlName="accountType">
                        <mat-option *ngFor="let accountType of accountTypeArray" [value]="accountType">{{accountType}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Account No</mat-label>
                    <input type="tel" matInput placeholder="Account No" formControlName="accountNo">
                </mat-form-field>
            </div>          
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <button mat-raised-button class="btn-outline-main">Cancel</button>
            <button type="submit" mat-raised-button class="btn-main" >Save</button>
        </div>
    </div>
</form>