<div class="d-flex justify-content-between">
    <h5 class="text-main">Add New Salary</h5>
    <i class="fa fa-times" aria-hidden="true"></i>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-container">
            <div class="mb-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Select Compnay</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>All Employee</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-outline-main" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-main">Save</button>
    </div>
</div>