<div class="card main-card">
    <div class="card-header">
        <div class="form-container">
            <div class="row justify-content-between">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Company Name</option>
                                <option value="1">Shaurya Technosoft Pvt Ltd</option>
                                <option value="2">Front Page</option>
                                <option value="3">Jagtap Autolines</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Department Name</option>
                                <option value="1">Sanket panchmind</option>
                                <option value="2">Rahul Mistari</option>
                                <option value="3">Aditya khutwad</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Designation Name</option>
                                <option value="1">Sanket panchmind</option>
                                <option value="2">Rahul Mistari</option>
                                <option value="3">Aditya khutwad</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name/Mobile No" type="search">
                                <button type="submit" class="btn btn-light"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-sm-8">
                <table class="table dashboard-table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Candidate Name</th>
                            <th>Contact No</th>
                            <th>Company</th>
                            <th>Department Name</th>
                            <th>Designation Name</th>
                            <th>Registration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                Navin Boddhul
                            </td>
                            <td>86520055578</td>
                            <td>
                                Shaurya Technosoft
                            </td>
                            <td>Software Development</td>
                            <td>Android Developer</td>
                            <td>
                                <a href="#">Register Employee</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 border-start">
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="modal-title mb-0">Add New Offer Letter</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-container">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Candidate Name">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" placeholder="Contact No">
                            </div>

                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Company Name</option>
                                    <option value="1">Bank Of Maharashtra</option>
                                    <option value="2">ICICI Bank</option>
                                    <option value="3">Kotak Bank</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Department Name</option>
                                    <option value="1">Bank Of Maharashtra</option>
                                    <option value="2">ICICI Bank</option>
                                    <option value="3">Kotak Bank</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Designation Name</option>
                                    <option value="1">Bank Of Maharashtra</option>
                                    <option value="2">ICICI Bank</option>
                                    <option value="3">Kotak Bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-container w-100">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-outline-main"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-main">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>