<div id="loginbox" class="d-flex align-items-center justify-content-between">
    <div class="container">
        <form [formGroup]="forgotForm" (ngSubmit)="save()">
            <div class="row justify-content-center">

                <div *ngIf="otpScreen == true">
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <h5>Forgot Password</h5>
                            <div class="mb-1">
                                <ng-container>
                                    <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Enter Mobile No</mat-label>
                                        <input matInput formControlName="mobileNumber" maxlength="10">
                                        <mat-error>
                                            <span> Please Enter Mobile No</span>
                                            <span> Please Enter Valid Mobile No </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="mb-3">
                                        <button mat-raised-button class="btn-main w-100 py-1">Send OTP</button>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a class="btn btn-light text-dark btn-sm">Back to Home</a>
                                        <a class="btn btn-light text-dark btn-sm">Back to Login</a>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------Forget-Password-Modal-Page---------------->

                <div *ngIf="passwordScreen == true">

                    <div class="col-sm-8">
                        <div class="card card-body">
                            <h5>Forget Password</h5>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ng-container>
                                        <div class="mb-0">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>OTP</mat-label>
                                                <input matInput formControlName="mobileNumber" maxlength="6">
                                                <mat-error>
                                                    <span> Please Enter OTP</span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="mb-0">
                                            <div class="mb-0">
                                                <mat-form-field appearance="legacy" class="w-100">
                                                    <mat-label>New Password</mat-label>
                                                    <input matInput placeholder="Password"
                                                        [type]="hide ? 'password' : 'text'" formControlName="password">
                                                    <mat-error>
                                                        <span> Please Enter New Password</span>
                                                        <span> Please Enter Valid New Password</span>
                                                    </mat-error>
                                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="mb-0">
                                            <div class="mb-0">
                                                <mat-form-field appearance="legacy" class="w-100">
                                                    <mat-label>Confirm Password</mat-label>
                                                    <input matInput placeholder="Password"
                                                        [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                                                    <mat-error>
                                                        <span> Please Enter Confirm</span>
                                                        <span> Please Enter Valid Confirm Password</span>
                                                    </mat-error>
                                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button mat-raised-button class="btn-main w-100 py-1">Save</button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0 text-muted">Note : </p>
                                    <ul class="text-muted">
                                        <li>Please dont refresh the page.</li>
                                        <li>Password length must be at least 8 characters</li>
                                        <li>Password must contain at least one character</li>
                                        <li>Password must contain at least one numeric character</li>
                                        <li>Password must contain at least one special character</li>
                                    </ul>
                                    <div class="d-flex justify-content-between">
                                        <a routerLink="/home" class="btn btn-light text-dark btn-sm">Back to Home</a>
                                        <a routerLink="/login" class="btn btn-light text-dark btn-sm">Back to Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


            </div>
        </form>
    </div>
</div>