<div class="d-flex justify-content-between align-items-center">
    <h5 class="text-main">{{this.iseditbtn==false? 'Add':'Update'}} Leave Type Registration </h5>
    <i class="fa fa-times" aria-hidden="true" (click)="closeModal('No')"></i>
</div>

<div>
    <form [formGroup]="addleaveTypeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-2">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Leave Type Name</mat-label>
                        <input matInput placeholder="Leave Type Name" formControlName="leaveType">
                        <mat-hint class="error"
                            *ngIf="submitted && (addleaveTypeForm.get('leaveType')?.errors?.['required'])">
                            Please Enter Leave Type Name</mat-hint>
                        <mat-hint class="error"
                            *ngIf="submitted && (addleaveTypeForm.get('leaveType')?.errors?.['pattern'])">
                            Please Enter Valid Leave Type Name</mat-hint>
                    </mat-form-field>

                </div>
                <div class="mb-2">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>All Company</mat-label>
                        <mat-select formControlName="compnytype">
                            <mat-option value="">All Company</mat-option>
                            <mat-option *ngFor="let data of companyTypeResp" [value]="data.companyId">{{data.name}}
                            </mat-option>
                        </mat-select>
                        <mat-hint class="error"
                            *ngIf="submitted && (addleaveTypeForm.get('compnytype')?.errors?.['required'])">
                            Please Select Company</mat-hint>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <label>Half Day :</label>
                    <mat-radio-group formControlName="halfDayRadio">
                        <mat-radio-button [value]=true class="mx-2">Yes</mat-radio-button>
                        <mat-radio-button [value]=false class="">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <button mat-raised-button class="btn-outline-main">Cancel</button>
                <button type="submit" mat-raised-button class="btn-main">{{this.iseditbtn==false? 'Save':'Update'}}</button>
            </div>
        </div>
    </form>
</div>