<div class="d-flex justify-content-between align-items-center">
    <h5 class="text-main">Bank Name Registration </h5>
    <i class="fa fa-times" aria-hidden="true" mat-dialog-close></i>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-container">
            <div class="row justify-content-between align-items-center">
                <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
                    <div class="col-sm-8">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Bank Name</mat-label>
                            <input matInput formControlName="bankName" placeholder="Bank Name">
                            <mat-error *ngIf="fc['bankName'].hasError('required')"> Please Enter Bank Name</mat-error>
                        </mat-form-field>
                    </div>
                    <div class=" col-sm-4 d-flex justify-content-end gap-2">
                        <button mat-raised-button class="btn-outline-main" type="reset" mat-dialog-close (click)="onCancel()">Cancel</button>
                        <button mat-raised-button class="btn-main" type="submit" [disabled]="!bankForm.valid">{{!editFlag ? 'Save' : 'Update'}}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">

                <ng-container matColumnDef="sr_no">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="Bank_Name">
                    <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.bankName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index"><button mat-icon-button color="accent" style="outline: none">
                            <mat-icon (click)="onEdit(element)">create</mat-icon>
                            <mat-icon (click)="onDelete(element.id)">delete</mat-icon>
                        </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>